
<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>Loan Status Prediction</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
 <div class="login">
	<h1>Predict Institutional Response to Your Loan Application</h1>
     <h3> Enter the following values to gain new insight on credit profile</h3>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
      <input type="text" name="AMT_INCOME_TOTAL" placeholder="AMT_INCOME_TOTAL" required="required" />
      <input type="text" name="AMT_CREDIT" placeholder="AMT_CREDIT" required="required" />
		  <input type="text" name="AMT_ANNUITY" placeholder="AMT_ANNUITY" required="required" />
      <input type="text" name="AMT_GOODS_PRICE" placeholder="AMT_GOODS_PRICE" required="required" />
      <input type="text" name="DAYS_EMPLOYED" placeholder="DAYS_EMPLOYED" required="required" />
      <input type="text" name="MONTHS_BALANCE" placeholder="MONTHS_BALANCE" required="required" />
      <input type="text" name="AMT_PAYMENT_CURRENT" placeholder="AMT_PAYMENT_CURRENT" required="required" />
      <input type="text" name="CNT_INSTALMENT_MATURE_CUM" placeholder="CNT_INSTALMENT_MATURE_CUM" required="required" />

        <button type="submit" class="btn">Predict</button>
    </form>
    {{ prediction_text }}
   <br>
   <br>


 </div>

 {% extends "layout.html" %}}
</body>
</html>
